* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #79DAF7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px; 
}

.header {
    width: 100%;
    padding: 20px 40px;
    background: #79F7C1;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 15px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 3px solid #4FCF79;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #004d33;
}

.nav {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap; 
    justify-content: center; 
}

.nav ul li a {
    text-decoration: none;
    color: #004d33;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
}

.nav ul li a:hover {
    background: #004d33;
    color: #fff;
}

#login_bttn {
    padding: 8px 18px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: .25s;
}

#login_bttn:hover {
    background: #005fcc;
    transform: translateY(-2px);
}

.container {
  max-width: 450px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  padding: 20px 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #0077cc;
}

.produto {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.produto img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #0077cc;
}

.info-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-produto p {
  color: #0077cc;
  font-weight: bold;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  color: #333;
}

input, textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  width: 100%;
}

button {
  background: #0077cc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #005fa3;
}

#mensagem {
  margin-top: 15px;
  text-align: center;
  color: green;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #79F7C1;
  color: #004d33;
  text-align: center;
  padding: 10px 0;
  border-top: 3px solid #4FCF79;
  font-weight: bold;
}
