* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #79DAF7;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    padding: 20px 40px;
    background: #79F7C1;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;  /* título em cima, nav embaixo */
    align-items: center;     /* centraliza horizontalmente */
    gap: 15px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 3px solid #4FCF79;
}

/* LOGO */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #004d33;
}

/* NAV — linha de baixo */
.nav {
    display: flex;
    justify-content: space-between;  /* menu à esquerda, login à direita */
    align-items: center;
    width: 100%;
}

/* MENU */
.nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap; /* quebra linha se necessário */
    justify-content: center; /* centraliza horizontalmente */
}

.nav ul li a {
    text-decoration: none;
    color: #004d33;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
}

.nav ul li a:hover {
    background: #004d33;
    color: #fff;
}

/* LOGIN */
#login_bttn {
    padding: 8px 18px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: .25s;
}

#login_bttn:hover {
    background: #005fcc;
    transform: translateY(-2px);
}

.main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px; /* Espaço entre cada section */
}

/* Estilização das sections */
.main section {
    background-color: #79B2F7;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

/* Títulos */
.main section h2 {
    margin-bottom: 12px;
}

/* Parágrafos */
main p {
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}


.container-lista_pipas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}


.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform .2s;
}


.card:hover {
    transform: translateY(-5px);
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


.card h3 {
    margin: 10px;
    font-size: 20px;
}


.card p {
    margin: 10px;
    color: #444;
    font-size: 16px;
}


.btn {
    display: block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background: #0066ff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

footer {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background: #79F7C1;
    color: black;
    font-size: 1rem;

    margin-top: 30px; 
}
